@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-400.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-500.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-700.woff2') format('truetype');
  font-weight: 700;
  font-style: bold;
}

body {
  margin: 0;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

p, strong, b {
  font-family: 'Roboto', sans-serif;
}

.pagination-wrapper, .progress, #confirmation, .alert-danger {
  margin-left: 15px;
  margin-right: 15px;
}

.pagination-wrapper {
  display: block;
}

.prev-btn-wrapper, .prev-btn {
  display: none !important;
}

#simpliform {
  padding-top: 32px;
  padding-bottom: 16px;
}

#simpliform .form-control {
  height: 55px;
  border-radius: 10px;
  border-color: #8E8E8E;
  box-shadow: none;
}

#simpliform .panel {
  border-radius: 10px;
  border-color: #8E8E8E;
  box-shadow: none;
}

#simpliform .alert-info {
  background-color: #D6F5FF;
  border-color: #D6F5FF;
  color: #000;
}

#simpliform .alert {
  border-radius: 10px;
}

#simpliform .pagination-wrapper .btn-primary {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: #76232F;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(183, 183, 183, 0.25);
  border: none;
}

#simpliform .pagination-wrapper .btn-primary:hover {
    background-color: #922C3A !important;
}

#simpliform .pagination-wrapper .btn-primary svg {
  display: none;
}
