@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-400.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-500.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-700.woff2') format('truetype');
  font-weight: 700;
  font-style: bold;
}

body {
  margin: 0;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
}

p, strong, b {
  font-family: 'Roboto', sans-serif;
}

.pagination-wrapper {
  display: block;
}

.prev-btn-wrapper {
  display: none;
}

#simpliform {
  padding-top: 16px;
}

#simpliform .form-field {
  padding: 0;
}

#simpliform .pagination-wrapper .btn-primary {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: #76232F;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(183, 183, 183, 0.25);
  border: none;
}

#simpliform .pagination-wrapper .btn-primary svg {
  display: none;
}
